In [1]:
## GEtting our tools ready
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
## IMporting the test data
test=pd.read_csv("test.csv")
test.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [3]:
## IMporting the train_processed data
train_processed=pd.read_csv("house_price_preprocessed_data.csv")
train_processed.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1350,70,5,50.0,5250,2,2,4,4,1,...,0,0,0,0,0,12,2008,9,5,122000
1,1138,50,4,54.0,6342,2,0,4,4,1,...,0,0,0,0,0,5,2010,9,5,94000
2,748,70,5,65.0,11700,2,2,1,4,1,...,0,0,0,0,0,5,2009,9,5,265979
3,305,75,5,87.0,18386,2,0,4,4,1,...,0,0,0,0,0,5,2008,9,5,295000
4,1133,70,5,90.0,9900,2,0,4,4,1,...,0,0,0,0,0,5,2007,9,5,117500

### Comparing the test and train data

In [4]:
set(train_processed.columns)-set(test.columns)

{'SalePrice'}

In [5]:
train_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   int64
 3   LotFrontage    1460 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   int64
 6   Alley          1460 non-null   int64
 7   LotShape       1460 non-null   int64
 8   LandContour    1460 non-null   int64
 9   Utilities      1460 non-null   int64
 10  LotConfig      1460 non-null   int64
 11  LandSlope      1460 non-null   int64
 12  Neighborhood   1460 non-null   int64
 13  Condition1     1460 non-null   int64
 14  Condition2     1460 non-null   int64
 15  BldgType       1460 non-null   int64
 16  HouseStyle     1460 non-null   int64
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   int64
 22  RoofMatl       1460 non-null   int64
 23  Exterior1st    1460 non-null   int64
 24  Exterior2nd    1460 non-null   int64
 25  MasVnrType     1460 non-null   int64
 26  MasVnrArea     1460 non-null   float64
 27  ExterQual      1460 non-null   int64
 28  ExterCond      1460 non-null   int64
 29  Foundation     1460 non-null   int64
 30  BsmtQual       1460 non-null   int64
 31  BsmtCond       1460 non-null   int64
 32  BsmtExposure   1460 non-null   int64
 33  BsmtFinType1   1460 non-null   int64
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1460 non-null   int64
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   int64
 40  HeatingQC      1460 non-null   int64
 41  CentralAir     1460 non-null   int64
 42  Electrical     1460 non-null   int64
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   int64
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   int64
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    1460 non-null   int64
 58  GarageType     1460 non-null   int64
 59  GarageYrBlt    1460 non-null   float64
 60  GarageFinish   1460 non-null   int64
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1460 non-null   int64
 64  GarageCond     1460 non-null   int64
 65  PavedDrive     1460 non-null   int64
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         1460 non-null   int64
 73  Fence          1460 non-null   int64
 74  MiscFeature    1460 non-null   int64
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   int64
 79  SaleCondition  1460 non-null   int64
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(78)
memory usage: 924.0 KB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   MSZoning       1455 non-null   object
 3   LotFrontage    1232 non-null   float64
 4   LotArea        1459 non-null   int64
 5   Street         1459 non-null   object
 6   Alley          107 non-null    object
 7   LotShape       1459 non-null   object
 8   LandContour    1459 non-null   object
 9   Utilities      1457 non-null   object
 10  LotConfig      1459 non-null   object
 11  LandSlope      1459 non-null   object
 12  Neighborhood   1459 non-null   object
 13  Condition1     1459 non-null   object
 14  Condition2     1459 non-null   object
 15  BldgType       1459 non-null   object
 16  HouseStyle     1459 non-null   object
 17  OverallQual    1459 non-null   int64
 18  OverallCond    1459 non-null   int64
 19  YearBuilt      1459 non-null   int64
 20  YearRemodAdd   1459 non-null   int64
 21  RoofStyle      1459 non-null   object
 22  RoofMatl       1459 non-null   object
 23  Exterior1st    1458 non-null   object
 24  Exterior2nd    1458 non-null   object
 25  MasVnrType     1443 non-null   object
 26  MasVnrArea     1444 non-null   float64
 27  ExterQual      1459 non-null   object
 28  ExterCond      1459 non-null   object
 29  Foundation     1459 non-null   object
 30  BsmtQual       1415 non-null   object
 31  BsmtCond       1414 non-null   object
 32  BsmtExposure   1415 non-null   object
 33  BsmtFinType1   1417 non-null   object
 34  BsmtFinSF1     1458 non-null   float64
 35  BsmtFinType2   1417 non-null   object
 36  BsmtFinSF2     1458 non-null   float64
 37  BsmtUnfSF      1458 non-null   float64
 38  TotalBsmtSF    1458 non-null   float64
 39  Heating        1459 non-null   object
 40  HeatingQC      1459 non-null   object
 41  CentralAir     1459 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1459 non-null   int64
 44  2ndFlrSF       1459 non-null   int64
 45  LowQualFinSF   1459 non-null   int64
 46  GrLivArea      1459 non-null   int64
 47  BsmtFullBath   1457 non-null   float64
 48  BsmtHalfBath   1457 non-null   float64
 49  FullBath       1459 non-null   int64
 50  HalfBath       1459 non-null   int64
 51  BedroomAbvGr   1459 non-null   int64
 52  KitchenAbvGr   1459 non-null   int64
 53  KitchenQual    1458 non-null   object
 54  TotRmsAbvGrd   1459 non-null   int64
 55  Functional     1457 non-null   object
 56  Fireplaces     1459 non-null   int64
 57  FireplaceQu    729 non-null    object
 58  GarageType     1383 non-null   object
 59  GarageYrBlt    1381 non-null   float64
 60  GarageFinish   1381 non-null   object
 61  GarageCars     1458 non-null   float64
 62  GarageArea     1458 non-null   float64
 63  GarageQual     1381 non-null   object
 64  GarageCond     1381 non-null   object
 65  PavedDrive     1459 non-null   object
 66  WoodDeckSF     1459 non-null   int64
 67  OpenPorchSF    1459 non-null   int64
 68  EnclosedPorch  1459 non-null   int64
 69  3SsnPorch      1459 non-null   int64
 70  ScreenPorch    1459 non-null   int64
 71  PoolArea       1459 non-null   int64
 72  PoolQC         3 non-null      object
 73  Fence          290 non-null    object
 74  MiscFeature    51 non-null     object
 75  MiscVal        1459 non-null   int64
 76  MoSold         1459 non-null   int64
 77  YrSold         1459 non-null   int64
 78  SaleType       1458 non-null   object
 79  SaleCondition  1459 non-null   object
dtypes: float64(11), int64(26), object(43)
memory usage: 912.0+ KB

In [7]:
## Checking if test data contains null values or not
test.isna().sum()

Id                 0
MSSubClass         0
MSZoning           4
LotFrontage      227
LotArea            0
                ...
MiscVal            0
MoSold             0
YrSold             0
SaleType           1
SaleCondition      0
Length: 80, dtype: int64

In [8]:
test.isna().sum().sum()

7000

## Preprocessing the test data

In [11]:
# Creating a function to preprocess the test data

## This function will convert string into categorical and then into numerical
def preprocess_test(data):
    for label,content in test.items():
        if pd.api.types.is_string_dtype(content):
            test[label]=content.astype("category").cat.as_ordered()
            test[label]=pd.Categorical(content).codes+1
    return data

In [12]:
test=preprocess_test(test)

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   MSZoning       1459 non-null   int8
 3   LotFrontage    1232 non-null   float64
 4   LotArea        1459 non-null   int64
 5   Street         1459 non-null   int8
 6   Alley          1459 non-null   int8
 7   LotShape       1459 non-null   int8
 8   LandContour    1459 non-null   int8
 9   Utilities      1459 non-null   int8
 10  LotConfig      1459 non-null   int8
 11  LandSlope      1459 non-null   int8
 12  Neighborhood   1459 non-null   int8
 13  Condition1     1459 non-null   int8
 14  Condition2     1459 non-null   int8
 15  BldgType       1459 non-null   int8
 16  HouseStyle     1459 non-null   int8
 17  OverallQual    1459 non-null   int64
 18  OverallCond    1459 non-null   int64
 19  YearBuilt      1459 non-null   int64
 20  YearRemodAdd   1459 non-null   int64
 21  RoofStyle      1459 non-null   int8
 22  RoofMatl       1459 non-null   int8
 23  Exterior1st    1459 non-null   int8
 24  Exterior2nd    1459 non-null   int8
 25  MasVnrType     1459 non-null   int8
 26  MasVnrArea     1444 non-null   float64
 27  ExterQual      1459 non-null   int8
 28  ExterCond      1459 non-null   int8
 29  Foundation     1459 non-null   int8
 30  BsmtQual       1459 non-null   int8
 31  BsmtCond       1459 non-null   int8
 32  BsmtExposure   1459 non-null   int8
 33  BsmtFinType1   1459 non-null   int8
 34  BsmtFinSF1     1458 non-null   float64
 35  BsmtFinType2   1459 non-null   int8
 36  BsmtFinSF2     1458 non-null   float64
 37  BsmtUnfSF      1458 non-null   float64
 38  TotalBsmtSF    1458 non-null   float64
 39  Heating        1459 non-null   int8
 40  HeatingQC      1459 non-null   int8
 41  CentralAir     1459 non-null   int8
 42  Electrical     1459 non-null   int8
 43  1stFlrSF       1459 non-null   int64
 44  2ndFlrSF       1459 non-null   int64
 45  LowQualFinSF   1459 non-null   int64
 46  GrLivArea      1459 non-null   int64
 47  BsmtFullBath   1457 non-null   float64
 48  BsmtHalfBath   1457 non-null   float64
 49  FullBath       1459 non-null   int64
 50  HalfBath       1459 non-null   int64
 51  BedroomAbvGr   1459 non-null   int64
 52  KitchenAbvGr   1459 non-null   int64
 53  KitchenQual    1459 non-null   int8
 54  TotRmsAbvGrd   1459 non-null   int64
 55  Functional     1459 non-null   int8
 56  Fireplaces     1459 non-null   int64
 57  FireplaceQu    1459 non-null   int8
 58  GarageType     1459 non-null   int8
 59  GarageYrBlt    1381 non-null   float64
 60  GarageFinish   1459 non-null   int8
 61  GarageCars     1458 non-null   float64
 62  GarageArea     1458 non-null   float64
 63  GarageQual     1459 non-null   int8
 64  GarageCond     1459 non-null   int8
 65  PavedDrive     1459 non-null   int8
 66  WoodDeckSF     1459 non-null   int64
 67  OpenPorchSF    1459 non-null   int64
 68  EnclosedPorch  1459 non-null   int64
 69  3SsnPorch      1459 non-null   int64
 70  ScreenPorch    1459 non-null   int64
 71  PoolArea       1459 non-null   int64
 72  PoolQC         1459 non-null   int8
 73  Fence          1459 non-null   int8
 74  MiscFeature    1459 non-null   int8
 75  MiscVal        1459 non-null   int64
 76  MoSold         1459 non-null   int64
 77  YrSold         1459 non-null   int64
 78  SaleType       1459 non-null   int8
 79  SaleCondition  1459 non-null   int8
dtypes: float64(11), int64(26), int8(43)
memory usage: 483.1 KB

In [17]:
test.YrSold.value_counts()

2007    363
2008    318
2009    309
2006    305
2010    164
Name: YrSold, dtype: int64

In [22]:
## CHecking the null values
test.isna().sum().sum()

330

In [24]:
## Checking the columns that contains null values
for label,content in test.items():
    if pd.isnull(content).sum():
        print(label,content.dtype)

LotFrontage float64
MasVnrArea float64
BsmtFinSF1 float64
BsmtFinSF2 float64
BsmtUnfSF float64
TotalBsmtSF float64
BsmtFullBath float64
BsmtHalfBath float64
GarageYrBlt float64
GarageCars float64
GarageArea float64

**NOTE: SINCE every null value containing column seems to be float ,let's fill it up with median value of that column**

In [25]:
## Creating a function to fill null values
def non_nullify(data):
    for label,content in data.items():
        if pd.isnull(content).sum():
            data[label].fillna(content.median(),inplace=True)
    return data

In [26]:
test=non_nullify(test)
test.isna().sum().sum()

0

**NOw the test data is ready to be made prediction**

# Making predictions

In [19]:
##Importing  the model
import pickle
loaded_model=pickle.load(open("house_regression_model.pkl","rb"))

C:\Users\DELL\Desktop\sample_project_1\env\lib\site-packages\sklearn\base.py:313: UserWarning: Trying to unpickle estimator DummyRegressor from version 0.22.2.post1 when using version 0.22.1. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
C:\Users\DELL\Desktop\sample_project_1\env\lib\site-packages\sklearn\base.py:313: UserWarning: Trying to unpickle estimator DecisionTreeRegressor from version 0.22.2.post1 when using version 0.22.1. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
C:\Users\DELL\Desktop\sample_project_1\env\lib\site-packages\sklearn\base.py:313: UserWarning: Trying to unpickle estimator GradientBoostingRegressor from version 0.22.2.post1 when using version 0.22.1. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(

In [27]:
## Predicting on the model
predictions=loaded_model.predict(test)

In [28]:
predictions

array([119158.68487262, 165505.87507234, 181130.61602463, ...,
       159005.88488545, 117619.24451931, 235075.3247618 ])

In [29]:
## Let's make the csv file ready for submission to kaggle
submission_file=pd.DataFrame(columns=['Id','SalePrice'])
submission_file

Empty DataFrame
Columns: [Id, SalePrice]
Index: []

In [30]:
submission_file["Id"],submission_file["SalePrice"]=test["Id"],predictions
submission_file

        Id      SalePrice
0     1461  119158.684873
1     1462  165505.875072
2     1463  181130.616025
3     1464  184503.432843
4     1465  183681.246909
...    ...            ...
1454  2915   72891.347321
1455  2916   75905.356421
1456  2917  159005.884885
1457  2918  117619.244519
1458  2919  235075.324762

[1459 rows x 2 columns]

In [31]:
## Export the submission_file
submission_file.to_csv("submission_to_kaggle_jupyter.csv",index=False)

## WARNING: AS WE CAN SEE IN ABOVE MODEL IMPORTING CELL THAT MODEL MIGHT BREAK ,SO I ALSO PREDICTED THE TEST DATA ON GOOGLE VOLAB WHERE I TRAINED THE MODEL

In [32]:
## Export the preprocessed test_data
test.to_csv("test_preprocessed_house_regression.csv",index=False)